* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
  margin:0;
  padding:0;
  overflow:hidden;
}

.collapse{
}
nav{
	background:rgba(0,0,0,.8);
	text-align:center;
	position:relative;
	z-index:2;
	padding:.5em;
	
}
.artistInfo{
	color:white;
	background:rgba(0,0,0,.8);
	position:relative;
	left:0;
	z-index:2;
	padding:2em;
	line-height:2em;
	font-size:.8em;
	//margin-top: -1em;
	width: 50vw;
	border-top:1px solid #222;
	white-space: nowrap;
	overflow: hidden;	
}
svg{
	transform:rotate('30deg');
	transition: all 1s;
	position:fixed;
	top:0;
	right;0;
	
}
.node {
	font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #bbb;
}

.node:hover {
	fill: #000;
}

.link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
	font-weight: 700;
}

.node--source {
	fill: #2ca02c;
}

.node--target {
	fill: #d62728;
}

.link--source,
.link--target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.link--source {
	stroke: #d62728;
}

.link--target {
	stroke: #2ca02c;
}



.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.results{
	position:absolute;
	top:20px;
	left:20px;
	z-index:9999;
}

iframe{
	width:50px;
	height:50px;
	display:block;
}
